html, body {
    font-family: Gibson,Tahoma,Arial,sans-serif;
    height: 100%;
}


/*---------------main--------------*/
.main {
    background-color: #efefef;
    min-height: 2610px;
    width: 100%;
    margin-top: 3px;
    padding-top: 40px;
    padding-left: 3%;
    padding-right: 3%;
}
.main-container {
    max-width: 972px;    
    background-color: #fff;
    color: #333;
    margin: 0px auto;
    box-shadow: 0 1px 5px rgb(0 0 0 / 25%);
    border-radius: 4px;
}

.main-container__basic {
    min-height: 910px;
    max-width: 830px;  
    display: flex;
    flex-direction: column;
    margin: 55px;    
    
}
.basic__head {  
    margin-top: 50px;
}


.basic__heroestable  {
    display: grid;
    gap: 15px;   
    grid-template-columns: repeat(auto-fit, minmax(180px, 3fr));
    margin-bottom: 50px;
} 

.basic__hero {
    height: 360px;    
    border: 0.5px solid black;
    border-radius: 2px;
    display: flex;   
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-start;
    
}
.persone__image {
        height: 150px;      
   }
.hero__img {
    height: 100%;
    width: 100%;
}
.rates__label {
    display: flex;  
    margin-left: 30px;
    
   
}
.rates__choise {
    
   
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 20px;

}
#rates {
    
    height: 20px;    
    border: 0.5px solid black;
    border-radius: 2px;
    width: 50px;
    padding-left: 10px; 
    font-size: 13px;   

}
.persone__container {
    
    height: 90px;
    width: 100%;   

}

.heroname {
    font-size: 15px;
    color:rgba(46, 13, 36, 0.25)
}


/*.hero__img {
    width: 40px;        
}


